# Pandas First Exercises
Dear Students this notebook contains simple exercises for beginners to practice basic Pandas operations such as creating Series, DataFrames, saving files, and importing data.

### Exercise 1: Creating Pandas Series

1. Create a Pandas Series containing the marks of 5 students in Maths.
2. Create a Pandas Series that stores 5 city names.
3. Create a Pandas Series with 5 different floating-point numbers representing temperature readings.

In [2]:
#answer here
import pandas as pd

maths = pd.Series([90, 85, 78, 92, 88],
                  index=['Alice', 'Bob', 'Charlie', 'David', 'Eve']
                  )
print("marks of student in math")
print(maths)
print()
cities = pd.Series(['New York', 'London', 'Paris', 'Tokyo', 'Sydney'])
print(cities)
temperatures = pd.Series([25.5, 28.2, 22.8, 30.0, 27.5])
print(temperatures)

marks of student in math
Alice      90
Bob        85
Charlie    78
David      92
Eve        88
dtype: int64

0    New York
1      London
2       Paris
3       Tokyo
4      Sydney
dtype: object
0    25.5
1    28.2
2    22.8
3    30.0
4    27.5
dtype: float64

### Exercise 2: Creating DataFrames from Series

1. Create two Series: one containing student names and another containing their ages. Combine them into a single DataFrame.
2. Create three Series: 'Product Name', 'Price', and 'Quantity'. Combine them into one DataFrame and display it.

In [3]:
#answer here
student_name = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Eve'])
ages = pd.Series([20, 22, 19, 21, 23])
student_data = pd.DataFrame({'Name': student_name, 'Age': ages})
print(student_data)

      Name  Age
0    Alice   20
1      Bob   22
2  Charlie   19
3    David   21
4      Eve   23

In [6]:
product_name = pd.Series(['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Printer'],
                         index = ['product1','product2','product3','product4','product5'])
prices = pd.Series([100000,100000,50000,10000,15000],
                   index = ['product1','product2','product3','product4','product5'])
quantity = pd.Series([10,5,3,2,4],
                     index = ['product1','product2','product3','product4','product5'])
product_data = pd.DataFrame({'Product Name': product_name, 'Price': prices, 'Quantity': quantity})
print(product_data)

         Product Name   Price  Quantity
product1       Laptop  100000        10
product2   Smartphone  100000         5
product3       Tablet   50000         3
product4   Headphones   10000         2
product5      Printer   15000         4

### Exercise 3: Creating DataFrames from Dictionaries

1. Create a dictionary with keys as 'Name', 'Age', and 'City', each containing a list of 3 values. Convert it into a DataFrame.
2. Create a dictionary with keys 'Product', 'Category', and 'Price'. Convert it into a DataFrame and print it.

In [16]:
#answer here
data = {
    'Name': ['Nikhil','Hanish','Kunal'],
    'Age' : ['21','20','20'],
    'City': ['India','England','Uk']
    }
students_df = pd.DataFrame(data, index = ['1','2','3'])
print(students_df)

     Name Age     City
1  Nikhil  21    India
2  Hanish  20  England
3   Kunal  20       Uk

In [17]:
data = {
    'Product': ['Laptop', 'Smartphone', 'Tablet'],
    'Category': ['Electronics', 'Electronics', 'Electronics'],
    'Price': [100000, 100000, 50000]
}
product_df = pd.DataFrame(data, index=['product1','product2','product3'])
print(product_df)

             Product     Category   Price
product1      Laptop  Electronics  100000
product2  Smartphone  Electronics  100000
product3      Tablet  Electronics   50000

### Exercise 4: Saving DataFrames to CSV and Excel

1. Save any one of your created DataFrames into a CSV file named 'students.csv'.
2. Save another DataFrame into an Excel file named 'products.xlsx'.

In [18]:
#answer here
students_df.to_csv('student.csv', index=False)
product_df.to_excel('product.xlsx', index = False)

### Exercise 5: Reading Data from Files

1. Use Pandas to read the CSV file 'students.csv' that you created earlier.
2. Use Pandas to read the Excel file 'products.xlsx' that you created earlier.

In [21]:
#answer here
students_df = pd.read_csv('student.csv')
print(students_df)

     Name  Age     City
0  Nikhil   21    India
1  Hanish   20  England
2   Kunal   20       Uk

In [22]:
product_df = pd.read_excel('product.xlsx')
print(product_df)

      Product     Category   Price
0      Laptop  Electronics  100000
1  Smartphone  Electronics  100000
2      Tablet  Electronics   50000